# Server
PORT=4005

# JWT
JWT_ACCESS_SECRET=jQnTqVsYv2x5A7C9FcHeKhPkRnUrWtZw3y5B8DaFdJfMhQmSpVsXuZx4z6B9EbGdKgNjRnTqVtYv2x5A7C9FcHeMhPkRpUrWtZw3
JWT_REFRESH_SECRET=NNhnwUjYVoNsMMtiEuoUQpNEYIiYcEaOkrVPdWgUfLYgyLFuPuPtXiHfvnYIghaq

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4005/api/auth/google/callback

# Redis connection
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASS=

# ScyllaDB connection
SCYLLADB_CONTACT_POINTS=localhost
SCYLLADB_LOCAL_DC=datacenter1
SCYLLADB_KEYSPACE=nestjs_auth
SCYLLADB_USERNAME=
SCYLLADB_PASSWORD=
SCYLLADB_CONNECT_TIMEOUT=30000
SCYLLADB_READ_TIMEOUT=30000
SCYLLADB_CORE_CONNECTIONS=2

# db
POSTGRES_USER=prisma
POSTGRES_PASSWORD=pns123456
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Prisma database connection
DATABASE_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB?schema=public&sslmode=prefer

# Kafka Configuration
KAFKA_PORT=9092
KAFKA_CLIENT_ID=nestjs-auth-service
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=nestjs-auth-service-group
KAFKA_SSL=false
KAFKA_SASL_MECHANISM=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=

PUBSUB_DRIVER=redis

# Kong Configuration
KONG_ADMIN_URL=http://localhost:8001
KONG_SERVICE_NAME=auth-service
KONG_SERVICE_HOST=localhost
KONG_SERVICE_PORT=4005
KONG_SERVICE_PATH=/api
